md-card {
  margin: 1em;
  width: 25%;
  display: inline-block;
}

#addUser {
  h1 {
    display: inline-block;
  }

  button {
    display: inline-block;
    vertical-align: 0.5em;
    float: right;
  }
}
