<section>
  <p>Here we'll attempt to play with some Angular 2 trickery.</p>
  <p>Change the values below and watch how Input Binding affects each component.</p>
  <md-input-container>
    <input
      md-input
      placeholder="First and Sibling Child's Name"
      [(ngModel)]="firstChildName"
      >
  </md-input-container>

  <md-input-container>
    <input
      md-input
      placeholder="Second Child Name"
      [(ngModel)]="secondChildName">
  </md-input-container>
</section>

<section>

</section>

<!-- <section>
  <b>Changing interpolation from `{{ ... }}` to `{[ ... ]}`:</b>
  <p>{[interpolationTest]}</p>
</section> -->
<md-card>
    <app-first-child
    [firstChildName]="firstChildName"
    [secondChildName]="secondChildName"
    color="primary"
    ></app-first-child>
</md-card>

<md-card>
  <app-sibling-child
    [siblingName]="sisterName"
  ></app-sibling-child>
</md-card>
