<div [class.trainingDarkTheme]="isDarkTheme">
  <md-toolbar class="toolbar" color="primary">

      <span><h2>{{title}}</h2></span>

      <div>
        <button md-mini-fab (click)="isDarkTheme = !isDarkTheme">
          <md-icon class="material-icons">lightbulb_outline</md-icon>
        </button>

        <button md-icon-button [md-menu-trigger-for]="menu" id="menuButton">
          <md-icon class="material-icons">menu</md-icon>
        </button>
      </div>

  </md-toolbar>

  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item routerLink="/users">Users</button>
    <!-- <button md-menu-item routerLink="/heroes">Heroes</button> -->
    <button md-menu-item routerLink="/trickery">Trickery</button>
  </md-menu>

  <md-card color="primary-lighter">
    <router-outlet></router-outlet>
  </md-card>

</div>
