<h3>{{userAction}} a User:</h3>
<form id="userForm">
  <md-input-container id="firstName" dividerColor="warn">
    <input
      md-input
      placeholder="First Name"
      [(ngModel)]="model.first_name"
      name="first_name"
      type="text"
      required
      >
  </md-input-container>

  <md-input-container id="lastName">
    <input
      md-input
      placeholder="Last Name"
      [(ngModel)]="model.last_name"
      name="last_name"
      type="text"
      required
      >
  </md-input-container>

  <br>

  <md-input-container id="email">
    <input
      md-input
      placeholder="Email"
      [(ngModel)]="model.email"
      name="email"
      type="email"
      required
      >
  </md-input-container>

  <br>

  <div class="userActionButtonGroup">
    <button md-icon-button md-mini-fab color="accent" (click)="saveUser()">
      <md-icon  class="material-icons">done</md-icon>
    </button>
    <button md-icon-button md-mini-fab color="warn" md-dialog-close>
      <md-icon  class="material-icons">cancel</md-icon>
    </button>
  </div>

</form>
